modules = ["python-3.12"]
run = "run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "run"]

[workflows]
runButton = "crpt-turon"

[[workflows.workflow]]
name = "crpt-turon"
mode = "sequential"
author = 24304412

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
